<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  {{#block "head"}}
  {{/block}}
  {{> common/css }}
</head>
<body>
  {{> common/header }}

  {{#block "content"}}
  {{/block}}

  {{> common/scripts }}
</body>
</html>




