{{#partial "head" }}
  <title>詳細見積もり申し込み完了</title>
{{/partial}}

{{#partial "content"}}
  <div class="main container">
    <div class="text-center">
      <div class="page-title">詳細見積もりのお申し込みが完了しました。</div>
      <div class="label">お電話にて正確な見積もり結果をお伝えいたします。</div>
      <div class="form-group">
        <a class="btn btn-back" href="/" role="button">TOPへ戻る</a>
      </div>
    </div>
  </div>
{{/partial}}

{{> common/base }}
