{{#partial "head" }}
  <title>Top画面</title>
  <link rel="stylesheet" href="/css/top.css">
{{/partial}}

{{#partial "content"}}
    <div class="jumbotron">
      <div class="company-name">tiscon insurance company</div>
      <div class="bland-message">未来の景色に鮮やかな彩りを</div>
    </div>
    <div>
      <div class="page-title">3ステップで簡単料金シミュレーション</div>
      <div class="text-center">
        <div class="box-text">お見積り情報<br/>入力</div>
        <div class="box-text">ご入力内容の<br/>確認</div>
        <div class="box-text">お見積もり<br/>概算料金を算出</div>
      </div>
    </div>
    <div class="text-center">
      <a class="btn btn-primary" href="/start" role="button">簡単無料見積もりをする</a>
    </div>
    <div class="service-section">
      <h1 class="service-point-title">Service</h1>
      <p class="service-point-subtitle">tiscon insurance companyは豊富な保証・サービスでお客様に安心を届けます。
      </p>
      <div class="service-point-row">
        <div class="service-point">
          <img src="/img/service1.webp"/>
          <p>加入時の保険料から生涯変わらない</p>
        </div>
        <div class="service-point">
          <img src="/img/service2.webp"/>
          <p>入院・手術などを一生涯保証</p>
        </div>
        <div class="service-point">
          <img src="/img/service3.webp"/>
          <p>日帰り入院でも一時金支給</p>
        </div>
      </div>
      <div class="service-point-row">
        <div class="service-point">
          <img src="/img/service4.webp"/>
          <p>七大生活習慣病を手厚く保証</p>
        </div>
        <div class="service-point">
          <img src="/img/service5.webp"/>
          <p>1000種類以上の手術に対応</p>
        </div>
        <div class="service-point">
          <img src="/img/service6.webp"/>
          <p>先進医療は通算2000万円まで保証</p>
        </div>
      </div>
      <div class="service-point-row">
        <div class="service-point">
          <img src="/img/service7.webp"/>
          <p>医療サポートをご用意<br>
          24時間いつでも電話可能</p>
        </div>
        <div class="service-point">
          <img src="/img/service8.webp"/>
          <p>ネットで簡単お申込み</p>
        </div>
        <div class="service-point">
          <img src="/img/service9.webp"/>
          <p>サイトからの詳細見積もり依頼で<br>
          割引</p>
        </div>
      </div>
    </div>
{{/partial}}

{{> common/base }}
